.nav-link:hover::after {
    content: "";
    display: block;
    width: 80%;
    margin: auto;
    border-bottom: 2px solid var(--cl5);
    margin-bottom: -2px;
    animation: underline-from-center 0.2s linear 0s 1 alternate;
}

@keyframes underline-from-center {
    from {
        width: 0%;
    }
    to {
        width: 80%;
    }
}